@import 'tailwindcss';

:root {
  color-scheme: dark;
}

/* 全局滚动条 统一控制台观感 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
